In [1]:
import pandas as pd 
import os
import datetime
from datetime import datetime
import warnings

In [2]:
warnings.filterwarnings('ignore')

#### ส่วนจัดการไฟล์

In [3]:
#เปลี่ยน path
path = r'C:\Users\charoenchai.chu\Desktop\Rules\621-สุโขทัย'
path00 = r'C:\Users\charoenchai.chu\Desktop\Rules'
file_name00 = 'ind-621'

file_path00 = os.path.join(path00, file_name00 + '.xlsx')
df=pd.read_excel(file_path00 , skiprows= 4)
df['รหัสสาขา'] = file_name00[-3:]

In [4]:
# #เปลี่ยน path
# path = r'C:\Users\charoenchai.chu\Desktop\Rules\สาขาแม่ฮ่องสอน และสาขาแม่สะเรียง'
# file_name01 = 'IND_422'

# file_path01 = os.path.join(path, file_name01 + '.xlsx')
# df1=pd.read_excel(file_path01 , skiprows= 4)
# df1['รหัสสาขา'] = file_name01[-3:]

In [5]:
# df = pd.concat([df0, df1], ignore_index=True)

In [6]:
# ตั้งชื่อ field ใหม่ทั้งหมด
new_column_names = ['ที่', 'กรมธรรม์', 'ชื่อ-สกุล', 'ที่อยู่1', 'วันที่จ่ายเงิน', 'ปี','จำนวนเงิน' ,'รับเอง' ,'รับมอบฯ' ,'null','รหัสสาขา']
df.columns = new_column_names
# แทนที่ค่า null ด้วยตัวก่อนหน้า

df['กรมธรรม์'] = df['กรมธรรม์'].astype(str)
length = df['กรมธรรม์'].str.len()
df['กรมธรรม์'] = df['กรมธรรม์'].where(length >= 6, df['กรมธรรม์'].shift())
# เปลี่ยน type ข้อมูล
dtypes = {
        "ที่": "str",
        "กรมธรรม์": "str",
        "รหัสสาขา": "str",
        "ชื่อ-สกุล": "object",
        "ที่อยู่1": "object", 
        # "ที่อยู่2": "object",
        "วันที่จ่ายเงิน": "object",
        "ปี": "object",
        "จำนวนเงิน": "str",
        "รับเอง": "object",
        "รับมอบฯ": "object"
    }
df = df.astype(dtypes)
# ตัดแถวว่างออก
df = df[df['ที่อยู่1'] . notnull()]
df.head()

,ที่,กรมธรรม์,ชื่อ-สกุล,ที่อยู่1,วันที่จ่ายเงิน,ปี,จำนวนเงิน,รับเอง,รับมอบฯ,null,รหัสสาขา
1,1,42383826,น.ส.ธิดารัตน์ บรรเทา,352/2 หมู่ที่ 10,10/05/2566,08/66,"21,466",/,NaN,NaN,621
2,nan,42383826,โทร.,ต.ไทยชนะศึก อ.ทุ่งเสลี่ยม จ.สุโขทัย 64150,NaN,NaN,nan,NaN,NaN,NaN,621
4,2,41098587,นางดุจดาว เสนีย์วงศ์ ณ อยุธยา,88/2 หมู่ที่ 10,12/05/2566,04/66,"20,389",/,NaN,NaN,621
5,nan,41098587,โทร.,ต.ท่าทอง อ.เมือง จ.พิษณุโลก 65000,NaN,NaN,nan,NaN,NaN,NaN,621
7,3,42347827,นายพิภพ สุบารมีเจริญ,313/2 หมู่ที่ 6 หมู่บ้านชลประทาน,25/05/2566,04/66,"43,730",/,NaN,NaN,621

In [7]:
# เอาที่เลขกรมธรรม์เป็น null ออก เอาไว้ไปเติมข้อมูล
null_df = df[df['วันที่จ่ายเงิน'] . isnull()]
null_df.head()
null_field = ['กรมธรรม์' , 'ที่อยู่1']
null_df = null_df[null_field]
# เปลี่ยนชื่อ field
null_df.columns = ['กรมธรรม์' , 'ที่อยู่2']
# null_df.head()

In [8]:
# ดึงเลขกรมธรรม์ที่ไม่ null
notnull_df = df[df['วันที่จ่ายเงิน'] .notnull()]
# notnull_df.head()

In [9]:
# ่join data
data_df = pd.merge(notnull_df, null_df, on='กรมธรรม์', how='left')

# เรียงลำดับคอลัมน์ใหม่ 
column_order = ['ที่', 'กรมธรรม์','รหัสสาขา' , 'ชื่อ-สกุล', 'ที่อยู่1', 'ที่อยู่2', 'วันที่จ่ายเงิน', 'ปี','จำนวนเงิน' ,'รับเอง' ,'รับมอบฯ' ,'null']
data_df = data_df[column_order]

# ตัด culumn null ออก
data_df = data_df[['ที่', 'กรมธรรม์','รหัสสาขา' , 'ชื่อ-สกุล', 'ที่อยู่1', 'ที่อยู่2', 'วันที่จ่ายเงิน', 'ปี','จำนวนเงิน' ,'รับเอง' ,'รับมอบฯ']]

data_df.head()

,ที่,กรมธรรม์,รหัสสาขา,ชื่อ-สกุล,ที่อยู่1,ที่อยู่2,วันที่จ่ายเงิน,ปี,จำนวนเงิน,รับเอง,รับมอบฯ
0,1,42383826,621,น.ส.ธิดารัตน์ บรรเทา,352/2 หมู่ที่ 10,ต.ไทยชนะศึก อ.ทุ่งเสลี่ยม จ.สุโขทัย 64150,10/05/2566,08/66,"21,466",/,NaN
1,2,41098587,621,นางดุจดาว เสนีย์วงศ์ ณ อยุธยา,88/2 หมู่ที่ 10,ต.ท่าทอง อ.เมือง จ.พิษณุโลก 65000,12/05/2566,04/66,"20,389",/,NaN
2,3,42347827,621,นายพิภพ สุบารมีเจริญ,313/2 หมู่ที่ 6 หมู่บ้านชลประทาน,ต.สระแก้ว อ.เมือง จ.กำแพงเพชร 62000,25/05/2566,04/66,"43,730",/,NaN
3,4,42427982,621,น.ส.เบ็ญจา เพิ่มก้อน,134/2 หมู่ที่ 8,ต.ปากแคว อ.เมือง จ.สุโขทัย 64000,29/05/2566,05/66,"6,883",/,NaN
4,5,41086187,621,นายคำรณ สังข์จันทร์,89/3 หมู่บ้านบ่ออิฐ,ต.ไกรนอก อ.กงไกรลาศ จ.สุโขทัย 64170,08/06/2566,12/66,"19,668",/,NaN

In [10]:
# ตัดแถวที่ไม่ต้องการ
data_df_finish = data_df[data_df['ปี'] .notnull()]
# notnull_df = df[df['กรมธรรม์'] .notnull()]
# data_df_finish.head()

In [11]:
data_df_finish['จำนวนเงิน'] = data_df_finish['จำนวนเงิน'].str.replace(',', '').astype(int)
data_df_finish = data_df_finish.sort_values(by=['รหัสสาขา', 'จำนวนเงิน'], ascending=[True, False])

#### ส่วน ACL

In [12]:
Rule_IND_df = data_df_finish[data_df_finish['รับมอบฯ'] == '/']
# เรียงลำดับ รหัสสาขา กับ จำนวนเงิน 
Rule_IND_df = Rule_IND_df.sort_values(by=['รหัสสาขา', 'จำนวนเงิน'], ascending=[True, False])
Rule_IND_df.head()

,ที่,กรมธรรม์,รหัสสาขา,ชื่อ-สกุล,ที่อยู่1,ที่อยู่2,วันที่จ่ายเงิน,ปี,จำนวนเงิน,รับเอง,รับมอบฯ
51,52,42231233,621,นายดนุเดช ธงทอง,130/7 หมู่ที่ 5,ต.วัดเกาะ อ.ศรีสำโรง จ.สุโขทัย 64120,18/04/2567,12/66,72678,NaN,/
9,10,41065781,621,นายทักษ์ดนัย แดงเรือง,125 หมู่ที่ 5,ต.บ้านป้อม อ.คีรีมาศ จ.สุโขทัย 64160,04/07/2566,05/63,20778,NaN,/
30,31,42383808,621,น.ส.วรนิษฐา กาวีอ้าย,66/1 หมู่ที่ 4,ต.บ้านด่าน อ.บ้านด่านลานหอย จ.สุโขทัย 64140,01/11/2566,09/66,11123,NaN,/
33,34,41061014,621,น.ส.อรวรรณ ขวัญเขียว,59/6 หมู่ที่ 6 หมู่บ้านวังตามนต์,ต.นาขุนไกร อ.ศรีสำโรง จ.สุโขทัย 64120,06/11/2566,06/51,10981,NaN,/
32,33,41061011,621,นายวัฒนพงศ์ บานเย็น,59/5 หมู่ที่ 6 หมู่บ้านวังตามนต์,ต.นาขุนไกร อ.ศรีสำโรง จ.สุโขทัย 64120,06/11/2566,06/51,10938,NaN,/

##### Export

In [13]:
# วันที่ปัจจุบัน
now = datetime.now().strftime("%Y%m%d")

# แยก DataFrame ตามรหัสสาขาและบันทึกไฟล์ Excel
grouped = Rule_IND_df.groupby('รหัสสาขา')

for รหัสสาขา, group in grouped:
    # จำกัดจำนวน record ไม่เกิน 5
    if len(group) > 5:
        group = group.iloc[:5]
    record_count = group.shape[0]  # นับจำนวน record หลังการแบ่งไฟล์
    output_file_name = f"Rule2_OPsurrenderIND_{รหัสสาขา}_รับมอบ_{now}_{record_count}.xlsx"
    file_path = os.path.join(path, output_file_name)
    group.to_excel(file_path, index=False)